.navbar {
    background-color: gray;
    position: fixed; /* Navbar stays at the top of the page */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
list-style: none;
display: flex;
justify-content: right;
margin-right: 50px;
}

.navbar li {
margin: 0 20px;
}

.navbar a {
color: white;
font-size: 20px;
text-decoration: none;
font-weight: bold;
transition: color 0.4s ease, transform 0.4s ease;
padding: 10px;
}

.navbar a:hover {
color: white;
transform: scale(1.1);
}

.navbar a::after {
content: '';
display: block;
height: 2px;
background-color: white;
transition: width 0.4s ease;
width: 0;
margin: 0 auto;
}

.navbar a:hover::after {
width: 100%;
}

.navbar a.active {
color: white;
}